@import url('https://use.typekit.net/sdh0zeu.css');

@font-face {
  font-family: 'Euclid Circular';
  src: url('/fonts/euclid/EuclidCircularB-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/fonts/euclid/EuclidCircularB-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular';
  src: url('/fonts/euclid/EuclidCircularB-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/fonts/euclid/EuclidCircularB-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Euclid Circular';
  src: url('/fonts/euclid/EuclidCircularB-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
